footer {
	background-color: #181818;
	height: 9%;
	width: 100%;
	position: relative;
	overflow: hidden;
	bottom: 0;
}
#copyright-align-left {
	float: left;
	margin-left: 300px;
	color: #686868;
}
#copyright-align-right {
	float: right;
	margin-right: 470px;
}