#image-align-left {
	float:left;
	clear:left;
	margin-top: 0.6%;
}
#image-align-right {
	margin-right: -49%;
}
.graphs{
	margin: 30px auto;
	border: 3px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    width: 550px;
}
#img3,#img1,#img7 {
	vertical-align: text-top;
}
#img4,#img2,#img8 {
	vertical-align: top;
}
#img5 {
	vertical-align: baseline;
}
#img4 { 
	vertical-align: text-bottom;
}
#img1, #img2, #img6 {
	height: 660px;
	width: 660px;
}