input[type="submit"]{
	background-color: #eee;
	border: 1px solid #eee;
	width: 7%;
	font-family: Verdana, Helvetica, sans serif;;
	color: #686868;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 13px;
	border-radius: 4px;
	margin-top: 20px;
}
input[type="submit"]:hover {
	border: 1px solid #d6d6d6;
	color:#000;
	font-weight: bold;
	padding: 8px 13px;
}
form {
	margin: 200px auto 10px auto;
	color: #5a5854;
}
#selection {
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 30px;
	margin-top: 10px;
}

