table {
	margin: 50px auto;
	text-align: left;
	border-bottom: 2px solid #585858;
	border-top: 2px solid #585858;
}
td, th{
	border-right: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	padding: 10px 10px;
}
#cell{
	border-right: none;
}
.odd{
	background-color: #eee;
}
thead {
	border-bottom: 1px solid #444444;
}
tfoot{
	border-top: 2px solid #444444;
	font-weight: bold;
}
.last-row,.bold-text{
	font-weight: bold;
}